<ion-view title="Login" id="page3">
    <ion-content padding="true" scroll="false" class="center">
        <form id="login-form4" name="loginForm" class="list" ng-submit="submit(loginForm)">
            <ion-list id="login-list1">
                <label class="item item-input" id="login-input6">
                    <!--<span class="input-label">Email</span>-->
                    <input type="email" placeholder="Email" ng-model="credentials.email" required>
                </label>
                <label class="item item-input" id="login-input7">
                    <!--<span class="input-label">Password</span>-->
                    <input type="password" placeholder="Password" ng-model="credentials.password" required>
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <input type="submit" id="login-button4" class="button button-positive  button-block" value="Log in">
            <a ui-sref="signup" id="login-button5" class="button button-positive button-block button-clear">Or create an account</a>
        </form>
    </ion-content>
</ion-view>