<ion-view title="Signup" id="page4">
  <ion-content padding="true" scroll="false" class="center has-header">
    <form id="signup-form5" class="list" style="width: 50%;>
        <ion-list id="signup-list2">
        <label class="item item-input" id="signup-input8">
          <input type="text" placeholder="Full name">
        </label>
        <label class="item item-input" id="signup-input11">
          <input type="text" placeholder="Plate number">
        </label>
        <label class="item item-input" id="signup-input9">
          <input type="email" placeholder="Email">
        </label>
        <label class="item item-input" id="signup-input10">
          <input type="password" placeholder="Password">
        </label>
      </ion-list>
      <button id="signup-button6" class="button button-positive  button-block">Sign up</button>
    </form>
  </ion-content>
</ion-view>