node_modules
.tmp
.sass-cache
**/bower_components or sometimes it is lib/**
platforms
plugins
*.swp
*.swo
*.log
*.DS_Store
/www/js/env.js
/www/lib
/bin
/bld
/.vs
/platforms
Project_Readme.html
*.sln
*.jsproj
*.jsproj.user